
*.user
*.filters
*.db
*.suo
*.ipch
*.tlog
*.exe
*.ilk
*.log
*.obj
*.pdb
*.idb
Voorbeelden/.vs/Voorbeelden/v16/Browse.VC.opendb
Voorbeelden/.vs/Voorbeelden/v16/Browse.VC.db-wal
Voorbeelden/.vs/Voorbeelden/v16/Browse.VC.db-shm
Lessons/.vs/Lessons/v16/Solution.VC.db-wal
Lessons/.vs/Lessons/v16/Solution.VC.db-shm
Lessons/.vs/Lessons/v16/Browse.VC.opendb
Lessons/.vs/Lessons/v16/Browse.VC.db-wal
Lessons/.vs/Lessons/v16/Browse.VC.db-shm
